.App {
  text-align: center;
}

.list{
  display: flex;
  flex-direction:column;
  align-items: center;
  gap: 15px;
}

.pet{
  border: 1px solid black;
  width: 50%;
  padding: 1rem;


}

.delete{
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  padding: .5rem;
}