.App {
  text-align: center;
}

.author{
  outline: 1px solid black;
  width: 40%;
  min-width: 300px;
  padding: 5px;
  margin: 10px;
  box-shadow: 5px 5px gray;

}
.author p{
  font-size: 2rem;
  
}

.btn{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: .75rem;
  margin: .5rem;
  border-radius: 1rem;
  font-size: 1rem;
  box-shadow: 2px 2px lightgray;


}
.delete{
  background-color: red
}

.form{
  padding: 2rem;

}
